@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-image: url("images/Корридор.png");
  background-attachment: fixed;
  background-position: center;
  font-family: 'Source Sans Pro', sans-serif;
}


h1 {
    color: white;
}

div {
  color: white;
}
